In [11]:
import numpy as np
from sklearn import preprocessing, neighbors, svm
from sklearn.model_selection import train_test_split
import pandas as pd

In [12]:
df = pd.read_csv('../2-KnearestNeighbors/breast-cancer-wisconsin.data')

df.head()

,id,clumb_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrm,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [13]:
# ? indicates missing data on data set
# replace with -99999, most algorithms trets as a outlier
df.replace('?', -99999, inplace=True)

#remove column id (not contribution to the model)
df.drop(['id'], 1, inplace=True)

In [15]:
X = np.array(df.drop(['class'],1))
y = np.array(df['class'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = svm.SVC()
clf.fit(X_train, y_train)

accuracy = clf.score(X_test, y_test)
print(accuracy)

0.6285714285714286